#main{
    position: fixed;
    margin: 0;
    border: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.presentation, h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-weight: bold;
    color: rgb(237, 238, 243);
}
.presentation, h3{
    font-family: 'Courier New', Courier, monospace;
}
.bubble{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 90%;
    background-color: rgb(196, 111, 15);
    transform: translate(-50%,-50%,0);
}

body{
    background-color: rgb(15, 15, 15);
}



